.red-text {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #ff4646 !important;

  letter-spacing: 3px !important;
}

.about-ted {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
}

.about-ted .card {
  margin-top: 10%;
  border-radius: 0%;
  padding: 4% 4%;
}

.about-ted .card-title {
  color: black;
  font-weight: bolder;
  font-size: 130%;
  letter-spacing: -1px;
  margin-bottom: 4% !important;
}

.about-ted .card-subtitle {
  color: black;
  font-weight: bold;
  font-size: 330%;
  letter-spacing: -3px;
  line-height: 1.1;
}

.about-ted .red-text {
  color: #ff2b06;
}

.about-ted .card-text {
  margin-top: 6%;
  color: #6f6f6f;
  text-align: justify;
  margin-bottom: 4%;
}

.about-ted .card-link {
  text-decoration: none;
  color: #ff755d;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 120%;
  transition: 0.9s;
}

.about-ted .right-arrow {
  padding-left: 10px;
  padding-bottom: 5px;
  width: 7%;
}

.ted-link {
  transition: 0.9s;
}

.about-ted .card-link:hover {
  cursor: pointer;
  transition: 0.9s;
  margin-right: 8px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 920px) {
  .about-ted {
    display: flex !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 846px) {
  .about-ted .card {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .about-ted .card {
    width: 30rem !important;
  }

  .about-ted .card-title {
    font-size: 120%;
  }

  .about-ted .card-subtitle {
    font-size: 250%;
  }

  .about-ted .card-text {
    font-size: 90%;
  }

  .about-ted .card-link {
    font-size: 110%;
  }
}

@media screen and (max-width: 510px) {
  .about-ted .card {
    width: 25rem !important;
  }

  .about-ted .card-title {
    font-size: 100%;
  }

  .about-ted .card-subtitle {
    font-size: 215%;
  }

  .about-ted .card-text {
    font-size: 85%;
  }

  .about-ted .card-link {
    font-size: 100%;
  }

  .about-ted .right-arrow {
    width: 10%;
  }
}

@media screen and (max-width: 425px) {
  .about-ted .card {
    width: 22rem !important;
  }

  .about-ted .card-subtitle {
    font-size: 200%;
  }

  .about-ted .card-text {
    font-size: 80%;
  }

  .about-ted .card-link {
    font-size: 90%;
  }
}

.glimpse-text {
  font-size: 20px;
  letter-spacing: -0.5px;
  /* max-width: 100px; */
}

@media screen and (max-width: 500px) {
  .glimpse-text {
    font-size: 16px !important;
    /* text-align: justify ; */
  }
}

@media screen and (min-width: 700px) {
  .glimpse-text {
    max-width: 50vw;
  }
}
