* {
  margin: 0%;
  padding: 0%;
  font-family: "Inter", sans-serif;
}

#hero {
  background-image: url("/src/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
}
@media screen and (max-width: 850px) {
  #hero {
    background-image: none;
    background: rgb(59, 38, 38);
    background: -moz-linear-gradient(
      45deg,
      rgba(59, 38, 38, 1) 0%,
      rgba(187, 45, 45, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      rgba(59, 38, 38, 1) 0%,
      rgba(187, 45, 45, 1) 100%
    );
    background: linear-gradient(
      45deg,
      rgba(59, 38, 38, 1) 0%,
      rgba(187, 45, 45, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b2626",endColorstr="#bb2d2d",GradientType=1);
  }
}

.hero-nav {
  height: 170vh !important;
}

@media screen and (max-width: 850px) {
  #hero {
    height: 150vh;
  }
}

@media screen and (max-width: 380px) {
  #hero {
    height: 180vh;
  }
  .hero-nav {
    height: 200vh !important;
  }
}
