.navbar {
    padding-top: 3%;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 140%;
    letter-spacing: -1px;
    margin-top: 10%;
    margin-right: 8%;
}

.navbar-nav {
    margin-left: 70%;
}