@media screen and (max-width: 700px) {
  .theme2 h1,
  .pricing h1,
  #speaker-head {
    font-size: 50px !important;
    letter-spacing: -1px !important;
    /* text-decoration: underline; */
  }
}

.theme2 {
  position: relative;
}

#play-video {
  position: absolute;
  bottom: 30px;
}
