.speakers {
  background-color: black;
  padding-bottom: 150px;
  height: fit-content;
}

.speakers h1 {
  padding-top: 150px;
  color: white;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 1.1;
  font-size: 500%;
}

.speakers h5 {
  padding-top: 20px;
  color: #bbbbbb;
  font-weight: normal;
  letter-spacing: -1px;
  font-size: 140%;
}

.speakers .card {
  margin-top: 50px;
  border: none;
}

.speakers .card h1 {
  padding-top: 10px;
  font-size: 30px;
  letter-spacing: 0px;
}

.speakers .card h5 {
  padding-top: 0%;
  color: #585858;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 100%;
}

.speakers .card-body {
  padding-top: 0%;
  background-color: #181b1e;
}

@media screen and (max-width: 850px) {
  .speakers h1 {
    font-size: 350%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  /* .speakers {
    height: 130vh;
  } */

  .speakers h1 {
    font-size: 400%;
  }

  .speakers h5 {
    font-size: 120%;
  }
}

@media screen and (max-width: 578px) {
  /* .speakers {
    height: 100vh;
  } */

  .speakers h1 {
    font-size: 350%;
  }

  .speakers h5 {
    font-size: 110%;
  }
}

.speaker-card {
  padding: 0%;
  margin: 0%;
}

/* @media screen and (max-width: 380px) {
  .speakers {
    height: 130vh;
  }
} */

.speakers {
  background-image: linear-gradient(235deg, #a10000 5%, black, black);
}

.card-img-top {
  transition: 0.9s;
}

.card-blur {
  filter: blur(5px);
}

.icn-1 {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 2;
}

.social-icons {
  transition: 0.9s;
}

.social-icons div {
  background-color: white;
  height: 60px;
  width: 60px;
  /* box-shadow: 2px 2px 5px rgb(202, 202, 202); */
  border-radius: 100px;
}

.social-icons img {
  width: 25px;
  height: 25px;
}

.icn-2 {
  position: absolute;
  top: 40%;
  right: 10%;
  z-index: 2;
}

.icn {
  position: absolute;
  top: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
